/* Styling agar Fake Input terlihat seperti input teks yang elegan */
    #fake-input {
        padding: 10px 15px;
        border: 1px dashed #d1d3e2;
        border-radius: 8px;
        transition: all 0.2s;
    }
    #fake-input:hover {
        border-color: #4e73df;
        color: #4e73df !important;
        background: #fff !important;
    }
    .ck-editor__editable_inline {
        border: 1px solid #d1d3e2 !important;
    }